name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  PYTHONUNBUFFERED: "1"
  FORCE_COLOR: "1"

jobs:
  ci:
    name: Continuous Integration on Linux
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Install uv
        uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b # v7
        with:
          version: "0.10.4"

      - name: Set up uv
        run: uv sync --locked

      - name: Check formatting
        run: uv run ruff format --check

      - name: Lint
        run: uv run ruff check

      - name: Type check
        run: uv run mypy .

      - name: Install pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4
        with:
          package_json_file: frontend/package.json

      - name: Install dependencies
        run: pnpm install --frozen-lockfile
        working-directory: frontend

      - name: Check TypeScript formatting
        run: pnpm exec prettier --check .
        working-directory: frontend

      - name: Lint TypeScript
        run: pnpm exec eslint .
        working-directory: frontend

      - name: Type check TypeScript
        run: pnpm exec tsc --noEmit
        working-directory: frontend
